body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #301A54;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Tahoma;
  }
   
  h1 {
    padding-top: 1em;
    font-size: 25px
  }
  
   h1, p[id="description"] {
     text-align: center;
     margin: 1em auto;
   }
  
    p[id="description"] {
      font-style: italic;
      font-size: 15px
    }
  
    div {
      width: 80%;
      margin: auto auto;
      background-color: rgba(0,0,0, 0.5)
    }
  
   form {
     width: 60vw;
     max-width: 500px;
     min-width: 300px;
     margin: 0 auto;
     padding-bottom: 2em;
   }
  
    fieldset {
      border: none;
    }
  
    label {
      display: block;
      padding: 0.5em;
      margin:  0 1.5em 0 0
    }
  
    input {
      display: block;
      width: 100%;
      margin: 10px 0 0 0;
      border: 2px solid rgb(255,255,255);
      background-color: rgb(0,0,0 );
      height: 30px
    }
  
    .boton, .checkbox {
      width: unset;
      margin: 0 0.5em 0 0;
      vertical-align: middle;
      display: inline-block;
    }
  
    .opciones {
      width: 100%;
      height: 25px
    }
  
    .submit {
      color: #ffffff;
      width: 60%;
      display: block;
      margin: 1em auto
    }
  
    textarea {
      width: 100%;
      margin: 1em auto;
    }